extends layout

block content
  h1= title
  div#viewer_
  div.add_sectionPoint Pointの追加
  div.del_sectionPoint Pointの削除
  select(name='sectionEndPoint',size=12)
    each sectionEndPoint in sectionEndPoints
      option(value=sectionEndPoint)= sectionEndPoint/1000
  div.controler
  form(method='POST',action='/edit')
    input(type='hidden',name='json',value='')
    input(type='submit',value='save')
  form(method='POST',action='/edit/delete')
    input(type='hidden',name='youtubeMovieId',value='')
    input(type='checkbox') 
    | この動画を削除しますか
    input(type='submit',value='Delete',disabled)
