extends layout

block content
  h1= title
  p Welcome to #{title}
  p ・about us
  div マルチビュー動画をご存知でしょうか。
  div 比較動画などによく使われる編集方法です。
  div 「youtubeに上がってる動画同士を比較できると簡易だし便利だよね！」
  div そんなコンセプトでつくったWEBアプリです。
  div webアプリってもyoutubeAPIを引っ張ってきてるその動画IDに紐付けて個々の停止ポイントをDBに格納してるだけなのですが。
  p ・How to use
    div 上部の
      a(href='/list') list
      | へ移動すると登録された動画のリストがあります
    div 動画のリンクはそれぞれの動画編集画面になっています。
    div リンクではなく複数選択してviewを押すと選択された動画によるマルチビュー画面に移ります
    div リスト画面では編集対象にしたい動画をリストに登録することができます。
  p ・編集画面
    div 動画に設定されている停止ポイント削除または追加することができます。
    div 停止ポイントの編集が終わった時点でSAVEボタンを押すことで編集が完了します。
  p ・マルチビュー画面
    div 底部にあるコントローラ部分で表示されている動画をまとめて操作できます。
    div 右部にあるセクションポイントで設定されているポイントへ移動します。
  p ・
    a(href='http://youtu.be/t0U3WkQxDSI') 説明動画つくってみました
  p ・一言
    div 何か要望とか改善あれば
      a(href='mailto:renoji5162@gmail.com') renoji5126@gmail.com
      | までご連絡下さいませ
    div twitterで @renoji5126 までリプライでも結構です(*‘ω‘ *)
