extends layout

block content
  h1= title
  form(method='POST',action='/list')
    input(type='text',name='youtubeURL',value='',placeholder='youtubeの対象の動画URLを貼り付けて下さい')
    input(type='submit',value='登録')
  form(method='GET',action='/view')
    each val in movie
      div
        input(type='checkbox',value= val.moveId)
        a(href='/edit?youtubeMovieId=' + val.moveId)= val.moveId
    input(type='hidden',name='youtubeMovieIds',value='')

    button.movieView Multi View Let's Play!

